# Executables
*
!*/
!*.*
!*Doxyfile
!*Makefile
!*LICENSE

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!libdoublefann.a
!libfann.a
!libfixedfann.a
!libfloatfann.a
*.lib

# Executables
*.exe
*.out
*.app
*.jar
nucleo/cons

# Cross-validation partitions
*_test_cv?.cre
*_train_cv?.cre

# Results
*.png
*.csv
*.png
*.svg